# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 0 * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Metrics SVG (Left Side)
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.GITHUB_TOKEN }}

          filename: metrics.svg
          base: header, activity, community, repositories, metadata

          plugin_habits: yes
          plugin_isocalendar: yes
          plugin_lines: yes
          plugin_traffic: yes

          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_ignored: javascript, html
        
          plugin_topics: yes
          plugin_topics_mode: mastered

      - name: Anime (Right side)
        uses: lowlighter/metrics@latest
        with:
          token: NOT_NEEDED
          committer_token: ${{ secrets.GITHUB_TOKEN }}

          filename: anilist.svg
          plugin_anilist: yes
          plugin_anilist_medias: anime, manga
          plugin_anilist_sections: favorites, watching, reading,characters  # Display anime and manga stats
          plugin_anilist_limit: 3
          plugin_anilist_limit_characters: 22

          
